$main-color: red;
$bg-color: #fffefb;
$text-color: #3f3f3f;
$placeholder-color: #b4b4b4;
$button-bg: #0059ff;
$button-text: #eee;
$button-disabled-bg: #eee;
$button-disabled-text: #b4b4b4;
$error-color: #ff8484;
$header-text: #b4b4b4;

$border-radius-button: 10px;
$border-radius-main: 4px;

$weight-main: 400;
$weight-semi-bold: 600;
